#logo{
	height:15vh;
}

body {
	background-image:url('../txture7.jpg');
}

header a {
	color: white;
}

header a:hover{
	color: white;
}

footer a {
	color: white;
}

footer a:hover{
	color: white;
}

header {
	color:white;
	background-color:rgba(0,0,0,0.5);
}

footer {
	color:white;
	background-color:rgba(0,0,0,0.5);
}

header #navigation {
	margin-top: 1vh;
	background-color: ;
}

footer #navigation {
	margin-top: 1vh;
	margin-bottom: 1vh;
}

#copyright {
	font-size: 8px;
}