/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: rgb(51,51,51);
}



/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  max-height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  max-height: 500px;
  background-color: white;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  max-height: 500px;
}



/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
	width:100%;
	text-align:center;
	position:relative;
	padding-top:6em;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Remove the edge padding needed for mobile */
  .marketing {
    padding-right: 0;
    padding-left: 0;
  }

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left:  15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left:  0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

.team-pic-container {
	position:relative;
	height:100%;
	width:100%;
	text-align:center;
}
.team-pic {
  	max-height: 500px;
}
.team-pic img {
	left: auto;
	right: auto;
	max-height: 550px;
	height: 35vw;
	min-height:150px;

}
.placeholder {
	max-height: 550px;
	height:35vw;
	min-height:150px;
}

.row2 {
	background-color:#A84774;
	color:white;
}

.row3 {
	background-color: #645E5E;
	color: white;
}


.row4 {
	background-color: #3A6EC2;
	color: white;
}

.row2, .row3, .row4 {
	vertical-align:middle;
	padding:10%;
}

/*.row2>div{
	margin-left:auto;
	margin-right:auto;
}*/



.team {
	margin-left:auto;
	margin-right:auto;
	margin-top:3em;
	max-width:1200px;
	padding:5%;
}

.logo-wrapper {
	position:absolute;
	bottom:-9em;
	left:0;
	right:0;
	height:8em;
	z-index:5;
	background-color:rgba(255,255,255,0.2);
	border-radius:0.5em;
	text-align:center;
}

.logo-wrapper>.helsinki {
	height:100%;
}

.aalto {
	height:80%;
}

.logo-wrapper h1 {
	font-size:3.5em;
}

#laurakuva, #lassikuva, #pietukuva, #mikkokuva {
	width:140px;
}

#ottokuva {
	width:117px;
}

#pietukuva {
	width:155px;
}

body {
	background-color:white;
}

footer {
	text-align:center;
}